<h1>Cocktails' list</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %>
  <% end %>
</ul>

<%= link_to "Create a new coktail", new_cocktail_path %>

<hr>

<%= cl_image_tag("tqeeebza0akah04hueh9",
      width: 300, height: 200, crop: :fill) %>

<hr>

<%= cl_image_tag("co3clp2l17kzywywwvze",
      width: 150, height: 150, crop: :thumb, gravity: :face, :radius=>"max") %>
